apiVersion: apps/v1
kind: Deployment
metadata:
  name: metadata
spec:
  selector:
    matchLabels:
      app: metadata
  template:
    spec:
      containers:
        - name: metadata
          image: $CONTAINER_REGISTRY/metadata:$VERSION
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              memory: "500Mi"
            requests:
              memory: "500Mi"
              cpu: "100m"
