services:
  video-streaming:
    image: video-streaming
    build:
      context: .
      dockerfile: apps/video-streaming/Dockerfile
    container_name: video-streaming
    ports:
      - "4000:80"
    env_file:
      - .env
    restart: "no"
