name: Deploy All Microservices to Staging

on:
  push:
    branches:
      - "develop"
  workflow_dispatch:
  workflow_run:
    workflows:
      - Azure-Storage CI
      - History CI
      - Video Streaming CI
    types: [completed]

permissions:
  contents: read
  actions: read

jobs:
  deploy:
    if: >
      github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'workflow_run' &&
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.event == 'push' &&
      github.event.workflow_run.head_branch == 'develop')
    name: Deploy All Microservices to Staging
    runs-on: ubuntu-latest
    environment: staging_qa

    env:
      BASE_URL: ${{ secrets.BASE_URL }}
      CONTAINER_REGISTRY: ${{ secrets.CONTAINER_REGISTRY }}
      DBHOST: ${{ secrets.DBHOST }}
      DBNAME: ${{ secrets.DBNAME }}
      DB_FIXTURES_HOST: ${{ secrets.DB_FIXTURES_HOST }}
      FIXTURES_DIR: ${{ secrets.FIXTURES_DIR }}
      HISTORY_DBHOST: ${{ secrets.HISTORY_DBHOST }}
      HISTORY_DBNAME: ${{ secrets.HISTORY_DBNAME }}
      KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
      METADATA_DBHOST: ${{ secrets.METADATA_DBHOST }}
      METADATA_DBNAME: ${{ secrets.METADATA_DBNAME }}
      NEXT_PUBLIC_HISTORY_HOST: ${{ secrets.NEXT_PUBLIC_HISTORY_HOST }}
      NEXT_PUBLIC_METADATA_HOST: ${{ secrets.NEXT_PUBLIC_METADATA_HOST }}
      NEXT_PUBLIC_VIDEO_STORAGE_HOST: ${{ secrets.NEXT_PUBLIC_VIDEO_STORAGE_HOST }}
      NEXT_PUBLIC_VIDEO_STREAMING_HOST: ${{ secrets.NEXT_PUBLIC_VIDEO_STREAMING_HOST }}
      NEXT_PUBLIC_VIDEO_UPLOAD_HOST: ${{ secrets.NEXT_PUBLIC_VIDEO_UPLOAD_HOST }}
      PORT: ${{ secrets.PORT }}
      RABBIT: ${{ secrets.RABBIT }}
      REGISTRY_PW: ${{ secrets.REGISTRY_PW }}
      REGISTRY_UN: ${{ secrets.REGISTRY_UN }}
      STORAGE_ACCESS_KEY: ${{ secrets.STORAGE_ACCESS_KEY }}
      STORAGE_ACCOUNT_NAME: ${{ secrets.STORAGE_ACCOUNT_NAME }}
      STORAGE_CONTAINER_NAME: ${{ secrets.STORAGE_CONTAINER_NAME }}
      VERSION: ${{ github.sha }}
      VIDEO_STORAGE_HOST: ${{ secrets.VIDEO_STORAGE_HOST }}
      VIDEO_STORAGE_PORT: ${{ secrets.VIDEO_STORAGE_PORT }}

    steps:
      - uses: actions/checkout@v3
      - name: Build all images
        run: ./scripts/build_all_images.sh "linux/amd64" staging

      - uses: tale/kubectl-action@v1
        with:
          base64-kube-config: ${{ secrets.KUBE_CONFIG }}
          kubectl-version: v1.35.0

      - name: Deploy to k8s cluster
        run: ./scripts/deploy.sh infra/k8s/overlays/staging
