name: Deploy All Microservices to Production

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

permissions:
  contents: read
  actions: read

jobs:
  deploy:
    name: Deploy All Microservices to Production
    runs-on: ubuntu-latest
    environment: production

    env:
      CONTAINER_REGISTRY: ${{ secrets.CONTAINER_REGISTRY }}
      DBHOST: ${{ secrets.DBHOST }}
      DBNAME: ${{ secrets.DBNAME }}
      HISTORY_DBHOST: ${{ secrets.HISTORY_DBHOST }}
      HISTORY_DBNAME: ${{ secrets.HISTORY_DBNAME }}
      KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
      METADATA_DBHOST: ${{ secrets.METADATA_DBHOST }}
      METADATA_DBNAME: ${{ secrets.METADATA_DBNAME }}
      NEXT_PUBLIC_HISTORY_HOST: ${{ secrets.NEXT_PUBLIC_HISTORY_HOST }}
      NEXT_PUBLIC_METADATA_HOST: ${{ secrets.NEXT_PUBLIC_METADATA_HOST }}
      NEXT_PUBLIC_VIDEO_STORAGE_HOST: ${{ secrets.NEXT_PUBLIC_VIDEO_STORAGE_HOST }}
      NEXT_PUBLIC_VIDEO_STREAMING_HOST: ${{ secrets.NEXT_PUBLIC_VIDEO_STREAMING_HOST }}
      NEXT_PUBLIC_VIDEO_UPLOAD_HOST: ${{ secrets.NEXT_PUBLIC_VIDEO_UPLOAD_HOST }}
      PORT: ${{ secrets.PORT }}
      RABBIT: ${{ secrets.RABBIT }}
      REGISTRY_PW: ${{ secrets.REGISTRY_PW }}
      REGISTRY_UN: ${{ secrets.REGISTRY_UN }}
      STORAGE_ACCESS_KEY: ${{ secrets.STORAGE_ACCESS_KEY }}
      STORAGE_ACCOUNT_NAME: ${{ secrets.STORAGE_ACCOUNT_NAME }}
      STORAGE_CONTAINER_NAME: ${{ secrets.STORAGE_CONTAINER_NAME }}
      VERSION: ${{ github.sha }}
      VIDEO_STORAGE_HOST: ${{ secrets.VIDEO_STORAGE_HOST }}
      VIDEO_STORAGE_PORT: ${{ secrets.VIDEO_STORAGE_PORT }}


    steps:
      - uses: actions/checkout@v3
      - name: Build all images
        run: ./scripts/build_all_images.sh "linux/amd64" prod

      - uses: tale/kubectl-action@v1
        with:
          base64-kube-config: ${{ secrets.KUBE_CONFIG }}
          kubectl-version: v1.35.0

      - name: Deploy to k8s cluster
        run: ./scripts/deploy.sh infra/k8s/overlays/production
