name: Video Streaming CI

on:
  pull_request:
    types: [opened]
    branches:
      - "develop"

permissions:
  actions: read
  contents: read

jobs:
  build:
    name: Build & unit test
    runs-on: ubuntu-latest
    env:
      VIDEO_STORAGE_PORT: ${{ secrets.VIDEO_STORAGE_PORT }}
      VIDEO_STORAGE_HOST: ${{ secrets.VIDEO_STORAGE_HOST }}
      DBHOST: ${{ secrets.DBHOST }}
      DBNAME: ${{ secrets.DBNAME }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v6
        with:
          node-version: 24.x
          cache: "npm"

      - name: Install dependencies
        run: npm install
      - name: Build
        run: npx nx run @flix-tube/video-streaming:build
      - name: Run Unit tests
        run: npx nx run @flix-tube/video-streaming:test
